.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  @media (min-width: $tablet) {
    padding: 50px;
  }

  &__title {
    @include title_features;
  }
  &__title::after {
    @include horizontal_block;
  }
  &__description {
    @include description_features;
  }
}
