.footer {
  padding-top: 20px;
  @media (min-width: $tablet) {
    grid-column: 1 /3;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
  }
}
.mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $tablet) {
    padding: 50px;
  }
  &__title {
    @include title_features;
    color: yellow;
    font-size: 9px;
    margin: 0;
  }
  &__link {
    @include title_features;
    color: white;
    font-size: 9px;
  }
}
.github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $tablet) {
    padding: 50px;
  }
  &__title {
    @include title_features;
    color: yellow;
    font-size: 9px;
    margin: 0;
  }
  &__link {
    @include title_features;
    color: white;
    font-size: 9px;
  }
}
