.menu {
  @media (min-width: $tablet) {
    grid-column: 1;
    grid-row: 2;
    margin-top: 50px;
  }
  &__list__item {
    display: flex;

    color: white;
    background-color: black;
    margin: 10px auto;
    font-family: "Fredoka One";
    border: 0;
    @media (min-width: $tablet) {
      margin: 10px 50px;
    }
  }
  &__list__item:hover::before,
  :focus::before {
    @include yellowBlock;
  }
  &__list__item:focus::before {
    @include yellowBlock;
  }
}
