.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  @media (min-width: $tablet) {
    padding: 50px;
  }

  &__title {
    @include title_features;
  }
  &__title::after {
    @include horizontal_block;
  }
  &__div {
    padding: 16px;
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: yellow;
  border-width: 2px;
  border-style: solid;
  padding: 16px;

  &__title {
    @include title_features;
    color: yellow;
    font-size: 14px;
  }
  &__description {
    @include title_features;
    color: white;
    font-size: 12px;
    padding: 8px 16px;
    text-align: center;
  }
  &__footer {
    display: flex;
    justify-content: space-around;

    &__demo {
      display: flex;
      align-items: center;
      margin: 0 10px;
      &__img {
        height: 24px;
        margin: 7.5px;
      }
      &__link {
        @include title_features;
        color: yellow;
        font-size: 12px;
        margin: 0;
      }
    }
    &__github {
      display: flex;
      align-items: center;
      margin: 0 10px;
      &__img {
        height: 24px;
        margin: 7.5px;
      }
      &__link {
        @include title_features;
        color: yellow;
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
